
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="column" id="main">
            <h1>Task</h1>
            <form [formGroup]="addtaskForm" (ngSubmit)="onSubmit()">
              <div class="form-floating">
                <ng-select
                  [items]="projectType" 
                  [(ngModel)]="task.projectType"
                  formControlName="projectType">
                </ng-select>
              </div>
              <label>Date</label>
              <div class="input-group">
                <input type="button"
                  placeholder="Datepicker"
                  class="form-control"
                  bsDatepicker
                  [maxDate]="today"
                  formControlName="startedDate"
                  (bsValueChange)="change($event)"
                  [isOpen]="isOpen"
                  [bsConfig]="{ containerClass: 'theme-dark-blue', showTodayButton: true, todayPosition: 'center' ,dateInputFormat: 'DD-MM-YYYY',  selectFromOtherMonth: true }">
                <a class="input-group-text border-0" id="search-addon" (click)="isOpen = !isOpen">
                  <i class="fa fa-calendar"></i>
                </a>
              </div>
              <span *ngIf="!addtaskForm.get('startedDate').valid && addtaskForm.get('startedDate').touched" class="help-block">
                The field is required
              </span>
              <br>
              <label>Description</label>
              <textarea
                type="text" 
                class="form-control"
                name="description"
                placeholder="Description"
                formControlName="description"></textarea>
              <span *ngIf="!addtaskForm.get('description').valid && addtaskForm.get('description').touched" class="help-block">
                The field is required
              </span>
              <br>
              <button
                style="cursor: pointer;"
                type="submit"
                class="btn primary"
                [disabled]="!addtaskForm.valid">
                Update
              </button>
              <button class="btn" (click)="onCancel()">Cancel</button>
            </form>
          </div>
          <button 
            id="closeModalButton" 
            [hidden]="true" 
            data-toggle="modal"        
            data-target="#myModal" 
            class="btn btn-default"                          
            data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>