<!-- Top navigation -->
  <!-- Sidebar navigation -->
  <div class="container-fluid">
      <!-- Main content -->
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">User Profile</h1>
      </div>
      <div class="card mb-3" style="max-width: 740px;margin-top: 20px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              style="width: 250px;"
              src="{{users?.profileURL}}"
              alt="{{users?.name}}"
              class="img-fluid rounded-start"
            />
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <p class="card-text " style="float:right ;">
                <button class="btn btn-warning"  (click)="onEdit(users.uid)">Edit</button>
            </p>
              <h3 class="card-title">{{users?.name != null ? users.name : 'User'}}</h3>
              <hr>
              <p class="card-text">
                <span>User ID: <strong>{{users?.uid}}</strong></span>
              </p>
              <p class="card-text">
                <span>Email: <strong>{{users?.email}}</strong></span>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <router-outlet></router-outlet>