header{
  animation:fadeIn;
  animation-duration: 1.5s;
}
  
.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -.75rem;
}

.close-navbar-toggler{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1;
  cursor:pointer;
}

.close-navbar-toggler.collapsed{
  z-index:-1;
}

#navbar {
  background-color: #f1f1f1;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: inline-flex;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  transition-duration: 0.4s;
}

#navbar #brand {
  font-size: 35px;
  transition: 0.4s;
}

#navbar a:hover {
  transition-duration: 0.4s;
  color: red;
}

#navbar a.active {
  background-color: white;
  color: red;
}
  
@media (min-width: 991.98px) {
	main {
	  padding-left: 400px;
	}
}
  
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 400px;
  z-index: 600;
}

.sidebar a{
  text-decoration:none;
  color: black;
  padding: 20px;
}

.sidebar.active{
  color:white;
}

.contextmenu{
  position: fixed;
  background-color:white;
  box-shadow:2px solid black;
  padding: 5px;
}
  
@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
    height: fit-content;
    background: white;
    margin-top: 50px;
  }
}

.sidebar .active {
  border-radius: 5px;
  background:#7386D5;
  color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

