
<header>
  <nav id="navbarSupportedContent" class="collapse d-lg-block sidebar collapse" style="border-right: 3px solid #7386D5;">
    <div class="position-sticky">
      <div class="row">
        <div class="col">
          <a class="navbar-brand" id="brand">
            <img src="../../../assets/img/5b9d82421e5f524376f22e90c17956ad.png" alt="" width="60px">&nbsp;
          </a>
        </div>
        <div class="col">
          <ul class="navbar-nav ms-auto d-flex flex-row">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                <span>&nbsp;{{userData?.name}}</span>
                <img
                  src="{{userData?.imageFile != null ? userData?.imageFile : 'https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp'}}"
                  class="rounded-circle"
                  height="30"
                  width="30"
                  alt="Avatar"
                  loading="lazy"/>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" routerLink="/user"><i class="fas fa-home"></i>&nbsp;Back to home</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <hr>

      <div class="p-3">
        <div class="input-group rounded mb-3">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" [(ngModel)]="userFilter.name"/>
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </div>

        <ul class="list-unstyled mb-0">
          <li class=" border-bottom" *ngFor="let user of users | filterBy: userFilter | orderBy:order">
            <div (click)="disableContextMenu()" oncontextmenu="return false;">
              <a routerLink="/user/Chat/{{user.uid}}" (contextmenu)="onrightClick($event,user)" routerLinkActive="active" style="margin: 5px;" class="d-flex justify-content-between">
                <div class="d-flex flex-row">
                  <div>
                    <img
                      src="{{user?.imageFile != null ? user?.imageFile : 'https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp'}}"
                      alt="avatar" class="d-flex align-self-center me-3" class="rounded-circle"
                      height="47"
                      width="47">
                    <span class="badge bg-success badge-dot"></span>
                  </div>&nbsp;
                  <div class="pt-1">
                    <p class="fw-bold mb-0">{{user?.name}}</p>
                    <p class="small" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:15ch;">{{user?.newMessage}}</p>
                  </div>
                </div>
                <div class="pt-1">
                  <p class="small mb-1" >{{ user?.newMessageTime }}</p>
                </div>
              </a>
              <div *ngIf="contextmenu">
                <div class="contextmenu" [ngStyle]="{'left.px': contextmenuX, 'top.px': contextmenuY}">
                    <a style="text-decoration: none;" id="deleteMsg" (click)="deleteAll()" style="color:black ;">Delete All Msg</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        
        <button class="btn" style="position: fixed;background-color:#7386D5;color:white;bottom:30px;left:320px;" routerLink="/user/Chat/userlist" 
          data-toggle="modal" 
          data-target="#exampleModal1" 
          data-backdrop="static" 
          data-keyboard="false" >
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </nav>
</header>

<main id="main">
  <div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="true"
      aria-label="Toggle navigation"
      id="btntoggle">
    <i class="fas fa-bars"></i>
    </button>
    <router-outlet></router-outlet>
  </div>
</main>