header{
  animation:fadeIn;
  animation-duration: 1.5s;
}

main {
  padding-left: 400px;
}
  
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 400px;
  z-index: 600;
}

#sidebar a{
  text-decoration:none;
  color: black;
  padding: 20px;
}

#sidebar.active{
  color:white;
}


#sidebar .active {
  border-radius: 5px;
  background:#7386D5;
  color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

#link:hover{
  background:#7386D5;
  transition-duration: .4s;
  p{
    color: white;

  }
}

#dropmenu{
  a:hover{
    transition-duration: .4s;
    background:#7386D5;
    color: white;

  }
}


.c{
	animation:fadeIn;
	animation-duration: 2s;
}