<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="column" id="main">
          <h1>Edit Profile </h1>
          <form [formGroup]="userEditForm" (ngSubmit)="onSubmit()">

            <div class="form-floating">
              <input
              type="text"
              class="form-control"
              name="name"
              placeholder="name"
              formControlName="name">
              <label>Name</label>
              <span *ngIf="!userEditForm.get('name').valid && userEditForm.get('name').touched" class="help-block">
              The field is required
              </span>
            </div>
            <!-- <br>
            <div class="form-floating">
                <input
                type="file"
                class="form-control"
                accept="image/*"
                placeholder="photoURL"
                name="photoURL"
                (change)="processFile($event)">
                <label>photoURL</label>
            </div> -->
            
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <input
                        placeholder="Datepicker"
                        class="form-control"
                        bsDatepicker
                        formControlName="dob"
                        [bsConfig]="{ containerClass: 'theme-dark-blue', todayPosition: 'center' ,dateInputFormat: 'DD-MM-YYYY',  selectFromOtherMonth: true }">
                        <label>DOB</label>
                        <!-- <span *ngIf="!userEditForm.get('dob').valid && userEditForm.get('dob').touched" class="help-block">
                        The field is required
                        </span> -->
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input
                          type="text"
                          class="form-control"
                          name="state"
                          placeholder="state"
                          formControlName="state">
                        <label>State</label>
                        <!-- <span *ngIf="!userEditForm.get('state').valid && userEditForm.get('state').touched" class="help-block">
                          The field is required
                        </span> -->
                    </div>
                </div>
            </div>
            <br>
            <div class="form-floating">
                <input
                type="number"
                class="form-control"
                placeholder="mobile"
                name="mobile"
                formControlName="mobile">
                <label>Mobile</label>
                <!-- <span *ngIf="!userEditForm.get('mobile').valid && userEditForm.get('mobile').touched" class="help-block">
                The field is required
                </span> -->
            </div>
            <button
                style="cursor: pointer;"
                type="submit"
                class="btn btn-primary"
                [disabled]="!userEditForm.valid"
>
                Save
            </button>
            <button class="btn btn-default" (click)="onCancel()">Cancel</button>
          </form>
        </div>
        <div>
          <svg width="67px" height="578px" viewBox="0 0 67 578" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
              <title>Path</title>
              <desc>Created with Sketch.</desc>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path  d="M11.3847656,-5.68434189e-14 C-7.44726562,36.7213542 5.14322917,126.757812 49.15625,270.109375 C70.9827986,341.199016 54.8877465,443.829224 0.87109375,578 L67,578 L67,-5.68434189e-14 L11.3847656,-5.68434189e-14 Z" id="Path" fill="#7386D5"></path>
              </g>
          </svg>
        </div>
        <button id="closeModalButton" [hidden]="true" data-toggle="modal"        
        data-target="#myModal" class="btn btn-default"                          
       data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>