<div 
  class="modal animate__animated animate__fadeIn" 
  id="exampleModal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="exampleModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="column" id="main">
          <h1>Edit Profile </h1>
          <form [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
            <input
            type="text"
            class="form-control"
            name="name"
            placeholder="name"
            formControlName="name">
            <br>
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <input
                  placeholder="Datepicker"
                  class="form-control"
                  [readonly]="true"
                  bsDatepicker
                  [isOpen]="isOpen"
                  formControlName="dob"
                  [bsConfig]="{ containerClass: 'theme-dark-blue', todayPosition: 'center' ,dateInputFormat: 'DD-MM-YYYY',  selectFromOtherMonth: true }">
                  <a class="input-group-text border-0" id="search-addon" (click)="isOpen = !isOpen">
                    <i class="fa fa-calendar"></i>
                  </a>
                </div>
              </div>
              <div class="col">
                <input
                type="number"
                class="form-control"
                placeholder="mobile"
                name="mobile"
                formControlName="mobile">
              </div>
            </div>
            <br>
            <input
              type="text"
              class="form-control"
              name="Address"
              placeholder="Address"
              formControlName="Address">
            <br>
            <button
              style="cursor: pointer;"
              type="submit"
              class="btn primary"
              [disabled]="!userEditForm.valid">
              <i class="fas fa-edit"></i>&nbsp;Update
            </button>
            <button class="btn" (click)="onCancel()"><i class="fas fa-ban"></i>&nbsp;Cancel</button>
          </form>
        </div>
        <button id="closeModalButton" [hidden]="true" data-toggle="modal"        
          data-target="#myModal" class="btn btn-default"                          
          data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>