/* Style the navbar links */
/* Style the logo */
#navbar {
	background-color: #7386D5;
	padding: 10px 10px;
	transition: 0.4s;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	display: inline-flex;
	a {
		color: white;
		padding: 12px;
		text-decoration: none;
		transition-duration: 0.4s;
	}
	div {
		ul {
			li {
				a {
					color: #7386D5;
				}
			}
		}
	}
	#brand {
		font-size: 30px;
	}
}
.dropdown {
	margin-right: 20px;
}
