<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="column" id="main">
          <h1>Edit Profile </h1>
          <form [formGroup]="adminEditForm" (ngSubmit)="onSubmit()">
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="name"
              formControlName="name">
            <span *ngIf="!adminEditForm.get('name').valid && adminEditForm.get('name').touched" class="help-block">
              The field is required
            </span>
            <br>
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <input
                  placeholder="Datepicker"
                  class="form-control"
                  [readonly]="true"
                  bsDatepicker
                  [isOpen]="isOpen"
                  formControlName="dob"
                  [bsConfig]="{ containerClass: 'theme-dark-blue', todayPosition: 'center' ,dateInputFormat: 'DD-MM-YYYY',  selectFromOtherMonth: true }">
                  <a class="input-group-text border-0" id="search-addon" (click)="isOpen = !isOpen">
                    <i class="fa fa-calendar"></i>
                  </a>
                </div>
              </div>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  name="state"
                  placeholder="state"
                  formControlName="state">
              </div>
            </div>
            <br>
            <input
            type="text"
            class="form-control"
            placeholder="mobile"
            name="mobile"
            formControlName="mobile">
            <br>
            <button
              style="cursor: pointer;"
              type="submit"
              class="btn primary"
              [disabled]="!adminEditForm.valid">
              Save
            </button>
            <button class="btn" (click)="onCancel()">Cancel</button>
          </form>
        </div>
        <button id="closeModalButton" [hidden]="true" data-toggle="modal"        
          data-target="#myModal" class="btn btn-default"                          
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>