.list-group{
    padding:30px;
    background:transparent;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
    transition-duration: 0.4s;
  
  }
  .list-group-item{
    background:transparent;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
    transition-duration: 0.4s;
    color: black;
  }
  