<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Total Hours
                </div>
                <div class="card-body">
                    00:00:00
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Total Task Completed
                </div>
                <div class="card-body">
                    123
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Total Project
                </div>
                <div class="card-body">
                    234
                </div>
            </div>
        </div>
    </div>
</div>