<div class="d-flex justify-content-center">
    <div class="spinner-border" style="text-align: center;color: #7386D5;width: 3rem; height: 3rem;margin-top: 200px;" role="status" *ngIf="datasFromLogin == null"></div>
</div>
<div class="container-fluid" *ngIf="datasFromLogin != null">
    <div class="row">
        <div class="col">
            <ng-select
                style="width: 100px;float:right;"
                (change)="changeDay($event)" 
                [items]="day" 
                [(ngModel)]="task.day"
                [clearable]="false">
            </ng-select>
            <ng-select
                style="width: 100px;float:right;" 
                [items]="monthNames" 
                [(ngModel)]="task.month"
                (change)="changeMonth($event)"
                [clearable]="false">
            </ng-select>
            <ng-select
                style="width: 100px;float:right;"
                (change)="changeYear($event)" 
                [items]="years" 
                [(ngModel)]="task.year"
                [clearable]="false">
            </ng-select>
        </div>
      </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Total Hours
                </div>
                <div class="card-body">
                    {{time}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Total Task Completed
                </div>
                <div class="card-body">
                    {{totalTask}}
                </div>
            </div>
        </div>
    </div>
</div>