<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ng-select
            style="width: 100px;float:right;"
            (change)="changeDay($event)" 
            [items]="day" 
            [(ngModel)]="task.day">
          </ng-select>
          <ng-select
            style="width: 100px;float:right;" 
            [items]="monthNames" 
            [(ngModel)]="task.month"
            (change)="changeMonth($event)"
            >
          </ng-select>
          <ng-select
            style="width: 100px;float:right;"
            (change)="changeYear($event)" 
            [items]="years" 
            [(ngModel)]="task.year">
          </ng-select>
        </div>
      </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Total Hours
                </div>
                <div class="card-body">
                    {{time}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Total Task Completed
                </div>
                <div class="card-body">
                    {{totalTask}}
                </div>
            </div>
        </div>
        <!-- <div class="col">
            <div class="card">
                <div class="card-header">
                    Total Project
                </div>
                <div class="card-body">
                    234
                </div>
            </div>
        </div> -->
    </div>
</div>