.gradient-custom {
	background: #f6d365;
	background: -webkit-linear-gradient(to right bottom, #7386D5, #d0d7f0);
	background: linear-gradient(to right bottom, #7386D5,#bac3e4);
}
.container {
	height: 100%;
	margin-top: 40px;
	animation:fadeIn;
	animation-duration: 2s;
}
