<div class="container-fluid pt-5"style="text-align:center;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let adminData of admin">
          <div class="card">
            <div class="profilepic d-flex">
              <img src="{{adminData?.imageFile != null ? adminData?.imageFile : 'https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp'}}" alt="avatar"
              class="profilepic__image " width="220" height="220">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{adminData.name}}</h5>
              <p class="card-text">
                {{adminData.email}}
              </p>
            </div>
            <div class="card-footer">
              <button type="button"  class="btn "  (click)="Contact()">Contact</button>
            </div>
          </div>
        </div>
    </div>
</div>