<h4>LOGIN ACTIVITY</h4>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col">
                <button class="btn btn-sm" (click)="onStart()" >Start the Day</button>
            </div>
            <div class="col">
                <p>{{LocalTimeStart}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">  
        <div class="row">
            <div class="col">
                <button class="btn btn-sm" (click)="onStop()" >End of the Day</button>
            </div>
            <div class="col">
                <p>{{localTimeEnd}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <button class="btn btn-sm" (click)="clear()" >clear</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4" >
        <p>Total hours: <strong>{{time}}</strong></p>
    </div>
    <div class="col">
        <ng-select
            style="width: 100px;float:right;"
            (change)="changeDay($event)" 
            [items]="date" 
            [(ngModel)]="task.date">
            </ng-select>
        <ng-select
            style="width: 100px;float:right;" 
            (change)="changeMonth($event)" 
            [items]="monthNames" 
            [(ngModel)]="task.month"
            >
        </ng-select>
        <ng-select
            style="width: 100px;float:right;" 
            (change)="changeYear($event)" 
            [items]="years" 
            [(ngModel)]="task.year">
        </ng-select>
    </div>
</div>
  <div class="table">
    <table class="table align-middle mb-0 bg-white" style="text-align: center;" id="table-sheet">
          <thead class="bg-light">
            <tr>
              <th>Date</th>
              <th>Started Time</th>
              <th>Ended Time</th>
              <th>Total Working(HH:MM:SS)</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody> 
              <tr *ngFor="let task of datasFromLogin | filterBy:task;">
                  <td>
                      <p class=" mb-0">{{task.localDate}}</p>
                  </td>
                  <td>
                      <p class=" mb-0">{{task.startTime}}</p>
                  </td>
                  <td>
                      <p class=" mb-0">{{task.endTime}}</p>
                  </td>
                  <td><p class=" mb-0">{{task.totalHours}}</p></td>
                  <td>
                      <button class="btn btn-sm" (click)="delete(task.uid)"><i class="fas fa-trash"></i></button>
                  </td>
              </tr>
            </tbody>
    </table>
  </div>