<div class="d-flex justify-content-center">
  <div class="spinner-border" style="text-align: center;color: #7386D5;width: 3rem; height: 3rem;margin-top: 200px;" role="status" *ngIf="tasks == null"></div>
</div>
<div class="container-fluid" *ngIf="tasks != null">
  <div class="row">
    <div class="col">
      <button 
        class="btn " 
        style="border-color:#7386D5;color:#7386D5;" 
        routerLink="/user/user-main/tasksheet/addTotasksheet" 
        data-toggle="modal" 
        data-target="#exampleModal1" 
        data-backdrop="static" 
        data-keyboard="false">Add
      </button>
      <button class="btn btn-sm" (click)="exportExcel()" >Export</button>
    </div>
    <div class="col">
      <ng-select
        style="width: 100px;float:right;" 
        [items]="monthNames" 
        (change)="changeMonth($event)"
        [(ngModel)]="task.month"
        [clearable]="false">
      </ng-select>
      <ng-select
        style="width: 100px;float:right;" 
        (change)="changeYear($event)" 
        [items]="years" 
        [(ngModel)]="task.year"
        [clearable]="false">
      </ng-select>
    </div>
  </div>
  <ng-container *ngIf="tasks.length == 0">
    <div class="container-fluid  mt-100">
        <div class="row">
           <div class="col-md-12">
               <div class="col-sm-12 empty-cart-cls text-center" style="margin-top: 100px;">
                  <img src="https://static.vecteezy.com/system/resources/previews/005/006/031/original/no-result-data-document-or-file-not-found-concept-illustration-flat-design-eps10-modern-graphic-element-for-landing-page-empty-state-ui-infographic-icon-etc-vector.jpg" width="130" height="130" class="img-fluid mb-4 mr-3">
                  <h3><strong>Your Table Is Empty</strong></h3>
                </div>
            </div>
        </div>
    </div>
  </ng-container>
  <table class="table align-middle mb-0 bg-white" style="text-align: center;" id="table-sheet" *ngIf="tasks.length != 0">
    <thead class="bg-light">
      <tr>
        <th>S.NO</th>
        <th>startedDate <i class="fas fa-arrow-down"></i></th>
        <th>projectType</th>
        <th>projectName</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let task of tasks | filterBy:task | orderBy:order;let i= index;" >
          <th>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="mb-0">{{i+1}}</p>
              </div>
            </div>
          </th>
          <td>
            <p class="mb-0">{{task.startedDate}}</p>
          </td>
          <td >
            <p class=" mb-0">{{task.projectType}}</p>
          </td>
          <td >
            <p class=" mb-0">{{task.projectName}}</p>
          </td>
          <td style="width: 350px;"><p class="mb-0 w-100" >{{task.description}}</p></td>
          <td style="width: 150px;"> 
            <button 
              type="button" 
              class="btn btn-outline btn-sm" 
              style="border-radius: 100px;cursor: pointer;border-color:#7386D5;color:#7386D5;" 
              data-toggle="modal" 
              data-target="#exampleModal" 
              data-backdrop="static" 
              data-keyboard="false"
              (click)="onEditTask(task)" >
              <i class="fas fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-outline-danger btn-sm" style="border-radius: 100px;" (click)="onDelete(task)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
  </table>
</div>
<router-outlet></router-outlet>