p {
	color: #7386D5;
}
@media (max-width: 600px) {
	.table {
		overflow-x: auto;
	}
	.table::-webkit-scrollbar {
	  width: 5px;
	}
  
	.table::-webkit-scrollbar-track {
	  background: #c9cacc;
	}
  
	.table::-webkit-scrollbar-thumb {
	  background: #7386D5;
	  border-radius: 10px;
	}
  }
.container-fluid{
    animation:fadeIn;
    animation-duration: 1.5s;
  }