  
<div class="modal animate__animated animate__fadeIn" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button 
                    id="closeModalButton" 
                    [hidden]="true" 
                    data-toggle="modal"        
                    data-target="#addTaskModal" 
                    class="btn btn-default"                          
                    data-dismiss="modal">X
                </button>
                <div class="column" id="main">
                    <h1>Task</h1>
                    <form [formGroup]="addTimeTrackerForm" (ngSubmit)="onSubmit()">
                        <ng-select
                            [items]="projectType" 
                            [(ngModel)]="type"
                            placeholder="Select Project Type"
                            formControlName="projectType" >
                        </ng-select>
                        <input
                        type="text"
                        class="form-control"
                        placeholder="Project Name"
                        name="projectName"
                        formControlName="projectName" >
                        <span *ngIf="!addTimeTrackerForm.get('projectName').valid && addTimeTrackerForm.get('projectName').touched" class="help-block" style="color: red;margin-right: 15px;">
                            Field is required
                        </span>
                        <br>
                        <textarea
                            type="text"
                            class="form-control"
                            placeholder="Project Description"
                            name="projectDescription"
                            formControlName="projectDescription">
                        </textarea>
                        <span *ngIf="!addTimeTrackerForm.get('projectDescription').valid && addTimeTrackerForm.get('projectDescription').touched" class="help-block" style="color: red;margin-right: 15px;">
                            Field is required
                        </span>
                        <br>
                        <button
                            style="cursor: pointer;"
                            type="submit"
                            class="btn primary"
                            [disabled]="!addTimeTrackerForm.valid">
                            Add Project
                        </button>
                        <button class="btn" (click)="onCancel()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>