  
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button 
                    id="closeModalButton" 
                    [hidden]="true" 
                    data-toggle="modal"        
                    data-target="#addTaskModal" 
                    class="btn btn-default"                          
                    data-dismiss="modal">X
                </button>
                <div class="column" id="main">
                    <h1>Task</h1>
                    <form [formGroup]="addTimeTrackerForm" (ngSubmit)="onSubmit()">
                        <ng-select
                            [items]="projectType" 
                            [(ngModel)]="type"
                            placeholder="Select Project Type"
                            formControlName="projectType" >
                        </ng-select>
                        <label>Project Name</label>
                        <input
                        type="text"
                        class="form-control"
                        placeholder="Project Name"
                        name="projectName"
                        formControlName="projectName" >
                        <br>
                        <label>Project Description</label>
                        <textarea
                        type="text"
                        class="form-control"
                        placeholder="Project Description"
                        name="projectDescription"
                        formControlName="projectDescription"></textarea>
                        <br>
                        <button
                            style="cursor: pointer;"
                            type="submit"
                            class="btn primary"
                            [disabled]="!addTimeTrackerForm.valid">
                            Add Project
                        </button>
                        <button class="btn" (click)="onCancel()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>