
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Menu</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a routerLink="userprofile" routerLinkActive="active"> <i class="fa fa-user"></i> &nbsp; Profile</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="tasksheet"><i class="fa fa-list"></i> &nbsp; Task Sheet</a>
        </li>
        <li>
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <i class="fa-solid fa-clock"></i> 
                &nbsp;Time Tracker &nbsp;
                <i class="fa fa-caret-down"></i>
              </a>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <a routerLink="timetracker/loginActivity" routerLinkActive="active">&nbsp;&nbsp;<i class="fa fa-history"></i>&nbsp; Login Activity</a>
                <a routerLink="timetracker/timeTrackerTable" routerLinkActive="active">&nbsp;&nbsp;<i class="fa fa-table"></i>&nbsp; Task</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="dashboard"><i class="fa fa-tachometer"></i> &nbsp; Dashboard</a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <li>
          <a class="download" (click)="logout()">Logout</a>
        </li>
      </ul>
  </nav>

</div>