<div class="backdrop"></div>
<div class="alert-box animate__animated animate__fadeInDown">
    <div class="displayTable" style="text-align: center;">
        <div class="displayTableCell">
          <div class="authBlock">
            <h3>Reset Password</h3>
            <p class="text-center">Please enter your email address to request a password reset.</p>
            <div class="form-floating">
              <input type="email" class="form-Control" placeholder="Email Address" #passwordResetEmail required>
            </div>
            <button type="submit" class="btn btn-sm" (click)="authService.forgotPassword(passwordResetEmail.value)">
                Reset Password
            </button>
          </div>
          <br>
          <div class="redirectToLogin">
            <p>Go back to ? <a class="redirect" routerLink="/login">Log In</a></p>
          </div>
        </div>
    </div>
</div>