

<div class="modal animate__animated animate__fadeIn" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="column" id="main">
          <form>
            <h3>Reset Password</h3>
            <p class="text-center">Please enter your email address to request a password reset.</p>
            <div class="form-floating">
              <input type="text" name="email" class="form-control" id="email" placeholder="email" [(ngModel)]="passwordResetEmail" required>
              <label for="email">Email</label>
            </div>
            <br>
            <button type="submit" style="margin-left: 110px;" class="btn btn-primary" (click)="forgot()">
                Reset Password
            </button>
            <br><br>
            <p class="text-center">Go back to ? <a (click)="login()" style="color:blue">Log In</a></p>
          </form>
        </div>
        <button id="closeModalButton" [hidden]="true" data-toggle="modal"        
        data-target="#myModal" class="btn btn-default"                          
       data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>