  
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="column" id="main">
            <h1>Add Employee</h1>
            <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
              <label for="email">Email:</label>
              <input type="text" name="email" class="form-control" id="email" placeholder="email" formControlName="email">
              <span *ngIf="!addEmployeeForm.get('email').valid && addEmployeeForm.get('email').touched" class="help-block" style="color: red;margin-right: 15px;">
                Field is required
              </span>
              <br>
              <label for="password">password</label>
              <input type="password" class="form-control" name="password" id="pwd" placeholder="Password" formControlName="password">
              <span *ngIf="!addEmployeeForm.get('password').valid && addEmployeeForm.get('password').touched" class="help-block" style="color: red;margin-right: 15px;">
                Field is required
              </span>
              <br>
              <button 
                class="btn primary"
                style="cursor: pointer;"
                type="submit"
                [disabled]="!addEmployeeForm.valid">Add Employee
              </button>
              <button class="btn" (click)="onCancel()">Cancel</button>
            </form>
          </div>
          <button id="closeModalButton" [hidden]="true" data-toggle="modal"        
          data-target="#myModal" class="btn btn-default"                          
         data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
