@media (max-width: 600px) {
	.row {
		overflow-x: auto;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-track {
			background: #c9cacc;
		}
		&::-webkit-scrollbar-thumb {
			background: #7386D5;
			border-radius: 10px;
		}
	}
}
.c{
	animation:fadeIn;
	animation-duration: 2s;
}