#footer{
  transition: 0.4s; 
  position: fixed; 
  bottom: 10px;
  z-index: 100;
  display: inline-flex;
}

.contextmenu{
  position: fixed;
  background-color:white;
  box-shadow:2px solid black;
  padding: 5px;
}