.close-navbar-toggler{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
    cursor:pointer;
  }
  .close-navbar-toggler.collapsed{
    z-index:-1;
  }
#navbar {
  background-color:#7386D5;
  transition: 0.4s;
  position: fixed; 
  width: 100%;
  top: 0; 
  z-index: 100;
  display: inline-flex;
}

#navbar a {
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  transition-duration: 0.4s;
}

#navbar #brand {
  font-size: 35px;
  transition: 0.4s;
  color: white;
}

#navbar a:hover {
  transition-duration: 0.4s;
  color: #7386D5;;
}

#navbar a.active {
  background-color: white;
  color: #7386D5;;
}
  
main{
  margin-top: 100px;
}

@media (max-width:476px) {
  main{
    margin-top: 160px;
  }
}

.list-group{
  .list-group-item{
    a.active{
      background:#7386D5;
    }
  }
}

.offcanvas{
  background:#7386D5;
  width:max-content;
  .offcanvas-body{
    background: #7386D5;
    color: white;
    .list-group{
      .list-group-item{
        color: white;
        background: #7386D5;
      }
      .list-group-item.active{
        background: white;
          color: #7386D5;
      }
    }
  }
}


.accordion{
  background:#7386D5;
}

